{% extends 'management/base.html' %}
{% load static %}
<!-- Title -->
{% block title %} Ez2Do {% endblock %}

<!-- JavaScript -->
{% block headJS %}
{% endblock %}

{% block leftnav %}
<ul class="navbar-nav mx-auto">
  <li class="nav-item">
    <form class="input-group" action="{% url 'task:search' %}" method="post">
      <input type="text" class="form-control" name="srcStr" placeholder="Search...">
      <span class="input-group-append">
          <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </span>
    </form>
  </li>
</ul>
{% endblock %}

{% block rightnav %}
{% endblock %}

{% block content %}

<p>
  We've emailed you instructions for setting your password, if an account exists with the email you entered.
  You should receive them shortly.
</p>
<p>
  If you don't receive an email, please make sure you've entered the address you registered with,
  and check your spam folder.
</p>

{% endblock %}

