{% extends 'management/base.html' %}
{% load static %}
{% load bootstrap4 %}
<!-- Title -->
{% block title %} Ez2Do {% endblock %}

<!-- JavaScript -->
{% block headJS %}
{% endblock %}

{% block leftnav %}
{% endblock %}

{% block rightnav %}
{% endblock %}

{% block content %}

{% if validlink %}
<h3>Change password</h3>
<form method="post">
  <div class="form-group">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Change password</button>
  </div>
</form>
{% else %}
<p>
  The password reset link was invalid, possibly because it has already been used.
  Please request a new password reset.
</p>
{% endif %}

{% endblock %}

