{% extends 'management/base.html' %}
{% load static %}
{% load bootstrap4 %}
<!-- Title -->
{% block title %} Ez2Do {% endblock %}

<!-- JavaScript -->
{% block headJS %}
{% endblock %}

{% block leftnav %}
{% endblock %}

{% block rightnav %}
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li
      {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %}

<div class="container-fluid h-100 text-dark">
  <div class="row justify-content-center align-items-center">
    <h1>Change Password</h1>
  </div>
  <hr/>
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <form method="post" action="{% url 'task:change_password' %}">
        <div class="form-group">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
          <button type="submit" class="btn btn-primary">Change Password</button>
          {% endbuttons %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

